<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo Image"></a> <!-- Navbar logo image -->
    </div>
    <div class="navbar_mobile_icon">
        <img src="/images/menu.png" alt="Navbar_mobile_icon"> <!-- Navbar mobile_icon image -->
    </div>
    <ul class="navbar_lists"> <!-- Navbar links -->
        <li class="navbar_item"><a href="/">Home</a></li>
        <li class="navbar_item"><a href="/">About</a></li>
        <li class="navbar_item"><a href="/">Speeches</a></li>
        <li class="navbar_item"><a href="/">Contact</a></li>
    </ul>
</header>