<section class="hero">
    <div class="hero_content">
        <div class="img_box"> <!-- Hero Image -->
            <img src="/images/hero.jpg" alt="Hero_Image">
        </div>
        <div class="txt_box"> <!-- Content of Hero Section -->
            <h1>Dr. Farooq Naeemi Al <br> Bukhari Kollam</h1>
            <p>Where there is charity and wisdom there is broad heartedness</p>
            <div class="author"> - Farooq_naeemi </div> <!-- author of the quote -->
        </div>
    </div>
</section>