<section class="hero">
    <div class="hero_content">
        <div class="img_box">
            <!-- Hero Image -->
            <img src="/images/hero.jpg" alt="Hero_Image">
        </div>
        <div class="txt_box">
            <!-- Content of Hero Section -->
            <h1>Dr. Farooq Naeemi Al <br> Bukhari Kollam</h1>
            <p>Where there is charity and wisdom there is broad heartedness</p>
            <div class="author"> - Farooq_naeemi </div> <!-- author of the quote -->
        </div>
    </div>
</section>

<section class="speech">
    <div class="speech_container">
        <a href="#"> <!-- Sneha Prapancham -->
            <div class="speech_box">
                <img src="/images/sneha_prapancham.jpg" alt="sneha_prapancham">
                <div class="info">
                    <h3>sneha prapancham</h3>
                    <p>2009 - 2021</p>
                </div>
            </div>
        </a>
        <a href="#"> <!-- History -->
            <div class="speech_box">
                <img src="/images/hero.jpg" alt="History">
                <div class="info">
                    <h3>History</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- Ramadan -->
            <div class="speech_box">
                <img src="/images/Ramadan.jpg" alt="Ramadan">
                <div class="info">
                    <h3>Ramadan</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- madhurasool -->
            <div class="speech_box">
                <img src="/images/madhurasool.jpg" alt="madhurasool">
                <div class="info">
                    <h3>madhurasool</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- ideolagy -->
            <div class="speech_box">
                <img src="/images/ideolagy.jpg" alt="ideolagy">
                <div class="info">
                    <h3>Ideology</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- ssf campaign -->
            <div class="speech_box">
                <img src="/images/ssf camp.jpg" alt="ssf camp">
                <div class="info">
                    <h3>ssf campaign</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- classes -->
            <div class="speech_box">
                <img src="/images/classes.jpg" alt="classes">
                <div class="info">
                    <h3>classes</h3>
                </div>
            </div>
        </a>
        <a href="#"> <!-- others -->
            <div class="speech_box">
                <img src="/images/other.png" alt="others">
                <div class="info">
                    <h3>others</h3>
                </div>
            </div>
        </a>
    </div>
</section>