<section class="search__bar">
    <input type="text" placeholder="Search Here...........">
</section>
<main>
    <section class="cards">
        {{#each Speeches}}
        <div class="card">
            <div class="card__image-container">
                <img src="/ramadan_speeches/{{this._id}}.jpg" alt="thumbnail image">
            </div>
            <div class="card__content">
                <p class="card__title text--medium">{{this.name}}</p>
                <div class="card__info">
                    <a target="_blank" href="{{this.link}}" class="text--medium">Watch Video</a>
                    <p class="card__price text--medium">{{this.sub_heading}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</main>

<script>
    input = document.querySelector('input');
    speeches = document.querySelectorAll('.card')
    input.addEventListener('input', filter);

    function filter() {
        search = input.value.toLowerCase();

        speeches.forEach(function (card) {
            text = card.innerHTML.toLowerCase();
            found = text.indexOf(search);
            if(search == ' '){
                card.style.display = "block";
            }
            else if(found == -1){
                card.style.display = "none";
            }
            else {
                card.style.display = "block";
            }
        });
    }
</script>