<!DOCTYPE html>
<html>
  <head>
    <title>Farooq Naeemi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> user-header}}
    {{{body}}}
    <script src="/javascripts/script.js"></script>
  </body>
</html>
