<!DOCTYPE html>
<html>
  <head>
    <title>Farooq Naeemi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    {{> user-header}}
    {{{body}}}
    <script src="/javascripts/script.js"></script>
  </body>
</html>
